<div class="breadcrumb flex justify-center py-[12px] px-4 sm:px-0 mt-[60px]">
  <div class="container">
    <a href=""><span class="text-base font-semibold">Trang chủ</span></a>
    <i class="fa-solid fa-angle-right text-base px-2 text-gray-500 text-center"></i>
    <a class="cursor-pointer"><span class="text-base font-semibold">Giỏ hàng</span></a>
  </div>
</div>
<div class="flex justify-center px-4 sm:px-0">
  <div class="container max-w-7xl">
    <div class="mx-auto my-7">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
        <!-- Cart Items (2/3) -->
        <div class="lg:col-span-2 space-y-6">
          <ng-container *ngIf="user; else local">
            <div *ngFor="let item of cartItems$ | async; let isLast = last" class="flex gap-4 pb-4"
              [ngClass]="isLast ? '' : 'border-b'">
              <img [src]="item.variant?.image_url" alt="" class="w-28 h-28 object-cover rounded" />
              <p>{{ item.variant?.product?.id }}</p>
              <div class="flex-1">
                <div class="flex justify-between">
                  <div>
                    <h2 class="font-semibold">
                      {{ item.variant?.product?.name }}
                    </h2>
                    <p class="text-sm text-gray-500">
                      {{
                      item.variant?.product?.category?.name ||
                      "Không có danh mục"
                      }}
                    </p>
                    <p class="text-sm">Size {{ item.size?.size }}</p>
                  </div>
                  <p class="font-semibold">
                    {{ item.variant?.product?.price_sale | currency : "VND" }}
                  </p>
                </div>

                <div class="flex items-center gap-2 mt-3">
                  <button mat-icon-button class="border p-1" (click)="decrease(item)">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <span>{{ item.quantity }}</span>
                  <button mat-icon-button class="border p-1" (click)="increase(item)">
                    <mat-icon>add</mat-icon>
                  </button>

                  <!-- Nút tim yêu thích -->
                  <!-- <button mat-icon-button class="border p-1 rounded-full" (click)="toggleFavorite()">
                    <mat-icon>{{
                      item.favorite ? "favorite" : "favorite_border"
                      }}</mat-icon>
                  </button> -->
                  <app-favorite-button [productId]="item.variant?.product?.id" [variantId]="item.variant?.id"
                    [size]="item.size?.id" [isFavorited]="item.isFavorited"
                    (favoriteToggled)="item.isFavorited = $event">
                  </app-favorite-button>


                  <button mat-icon-button color="warn" class="ml-auto" (click)="remove(item.variant?.id, item.size.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #local>
            <div *ngFor="
                let item of cartItemLocal$ | async;
                let isLast = last;
                let i = index
              " class="flex gap-4 pb-4" [ngClass]="isLast ? '' : 'border-b'">
              <img [src]="item.variant?.image_url" alt="" class="w-28 h-28 object-cover rounded" />

              <div class="flex-1">
                <div class="flex justify-between">
                  <div>
                    <h2 class="font-semibold">
                      {{ item.variant?.product?.name }}
                    </h2>
                    <p class="text-sm text-gray-500">
                      {{
                      item.variant?.product?.category?.name ||
                      "Không có danh mục"
                      }}
                    </p>
                    <p class="text-sm">Size {{ item.size?.size }}</p>
                  </div>
                  <p class="font-semibold">
                    {{ item.variant?.product?.price_sale | currency : "VND" }}
                  </p>
                </div>

                <div class="flex items-center gap-2 mt-3">
                  <button mat-icon-button class="border p-1" (click)="decrease(item)">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <span>{{ item.quantity }}</span>
                  <button mat-icon-button class="border p-1" (click)="increase(item)">
                    <mat-icon>add</mat-icon>
                  </button>

                  <!-- Nút tim yêu thích -->
                  <button mat-icon-button class="border red p-1 rounded-full" (click)="toggleFavorite()">
                    <mat-icon>{{
                      item.favorite ? "favorite" : "favorite_border"
                      }}</mat-icon>
                  </button>
                  <!-- <app-favorite-button [productId]="item.variant?.product?.id" [variantId]="item.variant?.id"
                    [size]="item.size?.id" [isFavorited]="item.isFavorited"
                    (favoriteToggled)="item.isFavorited = $event">
                  </app-favorite-button> -->

                  <button mat-icon-button color="warn" class="ml-auto" (click)="remove(item.variant?.id, item.size.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
        </div>

        <!-- Cart Summary (1/3) -->
        <div *ngIf="
            (cartItems$ | async)?.length > 0 ||
            (cartItemLocal$ | async)?.length > 0
          ">
          <div class="bg-gray-50 p-4 rounded-lg">
            <h3 class="font-semibold text-lg mb-4">Tạm tính</h3>
            <div class="flex justify-between text-sm mb-2">
              <span>Tổng phụ</span>
              <span>{{ subtotal | currency : "VND" }}</span>
            </div>
            <div class="flex justify-between text-sm mb-2">
              <span>Phí vận chuyển</span>
              <span class="font-semibold">Miễn phí</span>
            </div>
            <hr class="my-2" />
            <div class="flex justify-between font-semibold text-base mb-4">
              <span>Tổng</span>
              <span>{{ total | currency : "VND" }}</span>
            </div>
            <button mat-flat-button color="primary" class="w-full py-2 bg-black text-white rounded-full"
              (click)="onPay()">
              ĐẶT HÀNG
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Nếu giỏ hàng rỗng -->
    <div *ngIf="
        (cartItems$ | async)?.length == 0 &&
        (cartItemLocal$ | async)?.length === 0
      "
      class="flex flex-col items-center justify-center min-h-[400px] text-gray-600 animate-fade-in scale-100 transition-transform duration-300 ease-in-out">
      <img src="https://cdn-icons-png.flaticon.com/512/2038/2038854.png" alt="Giỏ hàng rỗng"
        class="w-32 h-32 mb-4 animate-bounce-cart transition-all duration-300" />
      <p class="text-xl font-semibold mb-2">Giỏ hàng của bạn đang trống</p>
      <p class="text-sm text-gray-500 mb-4">
        Hãy thêm sản phẩm để tiếp tục mua sắm
      </p>
      <a routerLink="/"
        class="px-6 py-2 bg-black text-white rounded-full hover:bg-gray-800 shadow-md hover:shadow-lg transform hover:scale-105 transition duration-300">
        Tiếp tục mua sắm
      </a>
    </div>

    <!-- Gợi ý sản phẩm -->
    <div class="product-related my-10">
      <h3 class="text-xl font-bold mb-4">Có thể bạn sẽ thích</h3>
      <div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
        <div class="product" *ngFor="let product of product_arr">
          <div class="w-full aspect-square mb-4 overflow-hidden relative group">
            <a href="/product-detail/{{ product.slug }}">
              <img class="product-image w-full h-full object-cover" src="{{ product.image }}"
                alt="{{ product.name }}" />
            </a>

            <!-- Icon yêu thích -->
            <div class="product-wish-list">
              <i></i>
            </div>
          </div>

          <!-- Product info -->
          <div class="product-name font-bold text-base mb-2">
            {{ product.name }}
          </div>
          <div class="category-name text-sm text-gray-500 mb-2">
            <span>{{ product.category?.name }}</span>
          </div>
          <div class="product_price text-red-500 font-bold text-lg">
            {{ product.price_sale | number : "1.0-0" }}đ
          </div>
        </div>
      </div>
    </div>
  </div>
</div>