<div class="w-full mt-[60px] bg-gray-100 px-3 py-2 md:px-6 md:py-4 overflow-hidden">
  <div class="flex gap-10 text-sm md:text-md text-gray-700 animate-marquee">
    <div *ngFor="let v of latestVouchers.concat(latestVouchers)" class="flex items-center gap-2">
      <span class="font-semibold text-blue-600">{{ v.code }}</span>
      <span class="mx-2 text-gray-400">•</span>
      <span class="font-bold text-red-500">
        <ng-container *ngIf="v.discount_type === 'percent'">
          -{{ v.discount_value }}%
        </ng-container>
        <ng-container *ngIf="v.discount_type === 'fixed'">
          -{{ v.discount_value | currency : "VND" }}
        </ng-container>
      </span>
      <span class="mx-2 text-gray-400">•</span>
      <span class="text-gray-600">{{ v.description }}</span>
    </div>
  </div>
</div>

<app-banner></app-banner>

<div class="just-in py-8 text-center px-4 sm:px-0">
  <p class="just-in-title text-lg sm:text-xl font-bold">PHONG CÁCH.</p>
  <h3 class="text-[2em] md:text-[2.5em] lg:text-[3em] font-bold mt-2">
    BỘC PHÁ ĐÔI CHÂN CỦA BẠN
  </h3>
  <p class="font-bold text-base sm:text-lg mt-4">
    Được tạo ra để vượt qua bất cứ thành phố nào trên con đường của bạn.
  </p>
  <div class="go-to-shop mt-6">
    <button
      class="bg-blue-600 text-white py-2 px-6 rounded hover:bg-blue-700 transition"
      routerLink="/products"
    >
      Mua ngay
    </button>
  </div>
</div>

<div class="section_2 flex justify-center px-4 sm:px-0">
  <div class="container">
    <div class="featured">
      <h3 class="text-3xl font-semibold mb-4">Đặc Sắc</h3>

      <!-- GIỮ FLEX, THÊM flex-wrap -->
      <div class="featured_product flex flex-wrap gap-4 justify-between">
        <!-- SP1 -->
        <div class="featured_image w-full sm:w-[48%] md:w-[32%]">
          <a href="/product-detail/lebron-xxii">
            <img
              class="w-full h-[450px] md:h-[600px] lg:h-[700px] object-cover rounded-md"
              src="images/Lebron XXII 'Crown Jewel'.png"
              alt=""
            />
          </a>
          <p class="title font-bold text-xl">Lebron XXII 'Crown Jewel'</p>
          <button class="button">
            <a href="/product-detail/lebron-xxii">Mua ngay</a>
          </button>
        </div>

        <!-- SP2 -->
        <div class="featured_image w-full sm:w-[48%] md:w-[32%]">
          <a href="/product-detail/ja-2-ep">
            <img
              class="w-full h-[450px] md:h-[600px] lg:h-[700px] object-cover rounded-md"
              src="images/game-time-must-haves.avif"
              alt=""
            />
          </a>
          <p class="title font-bold text-xl">Thời Gian Giải Trí Phải Có</p>
          <button class="button">
            <a href="/product-detail/ja-2-ep">Mua ngay</a>
          </button>
        </div>

        <!-- SP3 -->
        <div class="featured_image w-full sm:w-[48%] md:w-[32%]">
          <a href="/product-detail/nike-air-max-dn8">
            <img
              class="w-full h-[450px] md:h-[600px] lg:h-[700px] object-cover rounded-md"
              src="images/featured-nike-air-max-dn8.avif"
              alt=""
            />
          </a>
          <p class="title font-bold text-xl">Nike Air Max Dn8</p>
          <button class="button">
            <a href="/product-detail/nike-air-max-dn8">Mua ngay</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section_1 flex justify-center py-8 px-4 sm:px-0">
  <div class="container">
    <h3 class="text-2xl font-semibold mb-4">Sản Phẩm Mới Nhất</h3>
    <div
      class="section_1_product grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      <!-- Product Item -->
      <div class="product" *ngFor="let product of product_arr">
        <div class="w-full aspect-square mb-4 overflow-hidden relative group">
          <a href="/product-detail/{{ product.slug }}">
            <img
              class="product-image w-full h-full object-cover"
              src="{{ product.image }}"
              alt="{{ product.name }}"
            />
          </a>
        </div>

        <!-- Product info -->
        <div class="product-name font-bold text-base mb-2">
          {{ product.name }}
        </div>
        <div class="category-name text-sm text-gray-500 mb-2">
          <span>{{ product.category?.name }}</span>
        </div>
        <div class="product_price text-red-500 font-bold text-lg">
          {{ product.price_sale | number : "1.0-0" }}đ
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section_3 flex justify-center relative px-4 sm:px-0">
  <div class="container">
    <!-- Header + button scroll -->
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-2xl font-semibold">Mua Sắm Với Các Loại Thể Thao</h3>
      <div class="flex gap-2">
        <button (click)="scrollLeft()" class="button-caret">
          <i class="fa-solid fa-caret-left w-[50px] h-[50px] text-[25px]"></i>
        </button>
        <button (click)="scrollRight()" class="button-caret">
          <i class="fa-solid fa-caret-right w-12 h-12 text-2xl"></i>
        </button>
      </div>
    </div>

    <div
      class="w-full overflow-x-auto scroll-smooth scroll-container scrollbar-hide"
      #scrollContainer
    >
      <div class="shop-by-sport">
        <div *ngFor="let sport of sports">
          <div
            class="flex-shrink-0 w-[280px] md:w-[160px] lg:w-[440px] relative overflow-hidden"
            (click)="goToCategory(sport.id)"
          >
            <img
              [src]="sport.image"
              [alt]="sport.name"
              class="w-full h-[200px] md:h-[250px] lg:h-[300px] object-cover"
            />
            <button class="sps-name absolute font-semibold">
              {{ sport.name }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tin tức mới nhất -->
<div
  class="section_news flex justify-center px-4 sm:px-0 pt-8"
  *ngIf="blog_arr && blog_arr.length > 0"
>
  <div class="container w-full max-w-[1280px]">
    <!-- Tiêu đề -->
    <div class="mb-6">
      <h3 class="text-2xl font-semibold mb-4 text-left">Tin tức mới nhất</h3>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
      <!-- Bài viết nổi bật lớn -->
      <div
        class="md:col-span-8 bg-white rounded-xl shadow hover:shadow-md p-4 h-[400px] overflow-hidden"
      >
        <img
          [src]="blog_arr[0].thumbnail"
          class="w-[300px] h-auto object-contain rounded-lg mb-4 mx-auto"
        />

        <h2 class="text-2xl font-bold mb-3 line-clamp-1">
          {{ blog_arr[0].title }}
        </h2>
        <div
          [innerHTML]="blog_arr[0].content"
          class="text-gray-700 line-clamp-2 mb-4"
        ></div>
        <a
          [routerLink]="['/blog', blog_arr[0].slug]"
          class="text-blue-600 hover:underline text-sm font-medium"
        >
          Đọc chi tiết →
        </a>
      </div>

      <!-- Danh sách bài viết nhỏ -->
      <div class="md:col-span-4 flex flex-col gap-4">
        <div
          *ngFor="let blog of blog_arr.slice(1, 4)"
          class="bg-white rounded-lg shadow p-3 hover:shadow-md flex gap-3"
        >
          <img
            [src]="blog.thumbnail"
            alt="{{ blog.title }}"
            class="w-30 h-24 object-cover rounded-md"
          />
          <div class="flex-1">
            <h3 class="font-semibold text-base mb-1 line-clamp-2">
              {{ blog.title }}
            </h3>
            <a
              [routerLink]="['/blog', blog.slug]"
              class="text-blue-500 text-sm hover:underline"
            >
              Xem thêm →
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section_4 flex justify-center px-4 sm:px-0 py-8">
  <div class="container">
    <div class="favour-list grid grid-cols-1 md:grid-cols-3 gap-8 text-center">
      <!-- Item 1 -->
      <div
        class="favour-item w-full max-w-full overflow-hidden break-words bg-white shadow-md rounded-lg p-6"
      >
        <div class="favour-icon text-4xl text-blue-500">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="favour-title mb-2">
          <h3 class="text-sm lg:text-lg font-semibold">
            Miễn phí vận chuyển từ 2 đơn trở lên
          </h3>
        </div>
        <div class="favour-content flex justify-center">
          <p class="text-gray-600">Cộng thêm, gia hạn trả hàng miễn phí.</p>
        </div>
      </div>

      <!-- Item 2 -->
      <div
        class="favour-item w-full max-w-full overflow-hidden break-words bg-white shadow-md rounded-lg p-6"
      >
        <div class="favour-icon text-4xl text-green-500">
          <i class="fa-solid fa-gift"></i>
        </div>
        <div class="favour-title mb-2">
          <h3 class="text-sm lg:text-lg font-semibold">Quà tặng miễn phí</h3>
        </div>
        <div class="favour-content flex justify-center">
          <p class="text-gray-600">
            Tặng quà miễn phí đối với những đơn hàng từ 1.999.000đ trở lên.
          </p>
        </div>
      </div>

      <!-- Item 3 -->
      <div
        class="favour-item w-full max-w-full overflow-hidden break-words bg-white shadow-md rounded-lg p-6"
      >
        <div class="favour-icon text-4xl text-red-500">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="favour-title mb-2">
          <h3 class="text-sm lg:text-lg font-semibold">Hỗ trợ 24/7</h3>
        </div>
        <div class="favour-content flex justify-center">
          <p class="text-gray-600">
            Luôn luôn hỗ trợ, tư vấn khách hàng mọi lúc.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
