<app-banner></app-banner>

<div class="just-in py-8 text-center px-4 sm:px-0">
  <p class="just-in-title text-lg sm:text-xl font-bold">PHONG CÁCH.</p>
  <h3 class="text-2xl sm:text-3xl font-bold mt-2">Nothing beats the city.</h3>
  <p class="font-semibold text-base sm:text-lg mt-4">
    Được tạo ra để vượt qua bất cứ thành phố nào trên con đường của bạn.
  </p>
  <div class="go-to-shop mt-6">
    <button
      class="bg-blue-600 text-white py-2 px-6 rounded hover:bg-blue-700 transition"
    >
      Shop
    </button>
  </div>
</div>

<div class="section_2 flex justify-center px-4 sm:px-0">
  <div class="container">
    <div class="featured">
      <h3 class="text-3xl font-semibold mb-4">Đặc Sắc</h3>

      <div class="featured_product">
        <div class="featured_image">
          <img
            class="w-[418.67px] h-[600px]"
            src="images/Lebron XXII 'Crown Jewel'.png"
            alt=""
          />
          <p class="title font-bold text-xl">Lebron XXII 'Crown Jewel'</p>
          <button class="button">Shop</button>
        </div>

        <div class="featured_image">
          <img
            class="w-[418.67px] h-[600px]"
            src="images/game-time-must-haves.avif"
            alt=""
          />
          <p class="title font-bold text-xl">Thời Gian Giải Trí Phải Có</p>
          <button class="button">Shop</button>
        </div>

        <div class="featured_image">
          <img
            class="w-[418.67px] h-[600px]"
            src="images/pretty-in-pink.avif"
            alt=""
          />
          <p class="title font-bold text-xl">Xinh Đẹp Trong Màu Hồng</p>
          <button class="button">Shop</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section_1 flex justify-center py-8 px-4 sm:px-0">
  <div class="container">
    <h3 class="text-3xl font-semibold mb-4">Sản Phẩm Bán Chạy</h3>
    <div
      class="section_1_product grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      <!-- Product Item -->
      <div class="product" *ngFor="let product of product_arr">
        <div class="w-full aspect-square mb-4 overflow-hidden relative group">
          <a href="/product-detail/{{ product.slug }}">
            <img
              class="product-image w-full h-full object-cover"
              src="{{ product.image }}"
              alt="{{ product.name }}"
            />
          </a>

          <!-- Icon yêu thích -->
          <div class="product-wish-list">
            <i
              [ngClass]="isLiked ? 'fa-solid fa-heart' : 'fa-regular fa-heart'"
              (click)="toggleLike()"
            ></i>
          </div>
        </div>

        <!-- Product info -->
        <div class="product-name font-bold text-base mb-2">
          {{ product.name }}
        </div>
        <div class="category-name text-sm text-gray-500 mb-2">
          <span>{{ product.category?.name }}</span>
        </div>
        <div class="product_price text-red-500 font-bold text-lg">
          {{ product.price | number : "1.0-0" }}đ
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section_3 flex justify-center relative px-4 sm:px-0">
  <div class="container">
    <!-- Header + button scroll -->
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-2xl font-semibold">Mua Sắm Với Các Loại Thể Thao</h3>
      <div class="flex gap-2">
        <button (click)="scrollLeft()" class="button-caret">
          <i class="fa-solid fa-caret-left w-[50px] h-[50px] text-[25px]"></i>
        </button>
        <button (click)="scrollRight()" class="button-caret">
          <i class="fa-solid fa-caret-right w-12 h-12 text-2xl"></i>
        </button>
      </div>
    </div>

    <div
      class="w-full overflow-x-auto scroll-smooth scroll-container scrollbar-hide"
      #scrollContainer
    >
      <div class="shop-by-sport">
        <div *ngFor="let sport of sports">
          <div class="flex-shrink-0 w-[440px] relative overflow-hidden">
            <img
              [src]="sport.image"
              [alt]="sport.name"
              class="w-full h-[300px]"
            />
            <button class="sps-name absolute font-semibold">
              {{ sport.name }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section_4 flex justify-center px-4 sm:px-0 py-8">
  <div class="container">
    <div class="favour">
      <div
        class="favour-list flex flex-col md:flex-row justify-between text-center flex-wrap gap-6"
      >
        <!-- Item 1 -->
        <div class="favour-item flex-1 bg-white shadow-md rounded-lg p-6">
          <div class="favour-icon text-4xl text-blue-500 mb-4">
            <i class="fa-solid fa-truck"></i>
          </div>
          <div class="favour-title mb-2">
            <h3 class="text-lg font-semibold">
              Miễn phí vận chuyển từ 2 đơn trở lên
            </h3>
          </div>
          <div class="favour-content flex justify-center">
            <p class="text-gray-600">Cộng thêm, gia hạn trả hàng miễn phí.</p>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="favour-item flex-1 bg-white shadow-md rounded-lg p-6">
          <div class="favour-icon text-4xl text-green-500 mb-4">
            <i class="fa-solid fa-gift"></i>
          </div>
          <div class="favour-title mb-2">
            <h3 class="text-lg font-semibold">Quà tặng miễn phí</h3>
          </div>
          <div class="favour-content flex justify-center">
            <p class="text-gray-600">
              Tặng quà miễn phí đối với những đơn hàng từ 1.999.000đ trở lên.
            </p>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="favour-item flex-1 bg-white shadow-md rounded-lg p-6">
          <div class="favour-icon text-4xl text-red-500 mb-4">
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div class="favour-title mb-2">
            <h3 class="text-lg font-semibold">Hỗ trợ 24/7</h3>
          </div>
          <div class="favour-content flex justify-center">
            <p class="text-gray-600">
              Luôn luôn hỗ trợ, tư vấn khách hàng mọi lúc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="about-us"
  class="section_5 flex justify-center items-center px-4 sm:px-0"
>
  <div class="container">
    <div class="about-us-container w-2/3 max-w-2xl mx-auto">
      <h1 class="text-4xl font-black uppercase pt-9 text-center">
        Chào mừng đến với TVM - Thế Giới Giày Thể Thao Chính Hãng
      </h1>

      <div class="about-us-logo flex items-center justify-center">
        <img src="images/logo-black-white.png" alt="" class="w-15 h-auto" />
      </div>

      <p class="text-justify py-4">
        Tại TVM Shop, chúng tôi không chỉ đơn thuần là một cửa hàng giày thể
        thao - mà là điểm đến dành cho những người yêu thời trang, đam mê vận
        động và luôn muốn khẳng định phong cách cá nhân.
      </p>

      <h3 class="text-xl font-bold">Chúng tôi là ai?</h3>
      <p class="text-justify py-4">
        Ra đời với sứ mệnh mang đến trải nghiệm mua sắm giày thể thao đáng tin
        cậy tại Việt Nam, TVM không ngừng mở rộng sản phẩm, dịch vụ và nâng cao
        chất lượng phục vụ. Mỗi đôi giày tại TVM đều được chọn lọc kỹ lưỡng, đảm
        bảo 100% chính hãng, đi kèm chính sách bảo hành và hậu mãi minh bạch.
      </p>

      <h3 class="text-xl font-bold">Sứ mệnh của chúng tôi!</h3>
      <p class="text-justify py-4">
        Chúng tôi thành lập TVM với mong muốn mang đến cho cộng đồng yêu giày
        tại Việt Nam những sản phẩm chính hãng, chất lượng cao, từ thương hiệu
        nổi tiếng hàng đầu thế giới là Nike và Jordan.
      </p>

      <h3 class="text-xl font-bold">
        Khám phá thế giới giày thể thao cùng TVM!
      </h3>
      <p class="text-justify py-4">
        Tại TVM, mỗi bước chân là một tuyên ngôn về cá tính. Cho dù bạn tìm kiếm
        sự linh hoạt khi tập luyện, hay muốn tạo dấu ấn thời trang riêng biệt -
        TVM luôn có một lựa chọn dành cho bạn.
      </p>
    </div>
  </div>
</div>
