<div class="w-[80%] h-[600px] my-10 mx-auto gap-5 flex">
  <div class="contact-colleft w-[50%] h-[660px]">
    <div>
      <!-- Địa chỉ -->
      <div class="flex items-center mb-2">
        <div class="px-3 py-2 bg-gray-300 border border-black mr-4">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <p class="text-base">Tân Chánh Hiệp, Quận 12, Thành phố Hồ Chí Minh</p>
      </div>

      <!-- Số điện thoại -->
      <div class="flex items-center mb-2">
        <div class="px-3 py-2 bg-gray-300 border border-black mr-4">
          <i class="fa-solid fa-phone"></i>
        </div>
        <p class="text-base">0999-999-999</p>
      </div>

      <!-- Email -->
      <div class="flex items-center mb-6">
        <div class="px-3 py-2 bg-gray-300 border border-black mr-4">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <p class="text-base">examplegmail.com</p>
      </div>
    </div>

    <hr />
    <h1 class="text-3xl font-bold mt-4 mb-4">Liên hệ với chúng tôi</h1>
    <form name="frmdk" class="rounded-lg">
      <!-- Tên đăng ký -->
      <div class="mb-1">
        <input
          type="text"
          name="name"
          class="w-full p-2 rounded-xl border-2 border-black focus:border-blue-500 outline-none placeholder-gray-400 text-left text-lg"
          placeholder="Tên đăng ký"
        />
      </div>

      <!-- Email -->
      <div class="mb-1">
        <input
          type="email"
          name="email"
          class="email-input w-full p-2 rounded-xl border-2 border-black focus:border-blue-500 outline-none placeholder-gray-400 text-left text-lg"
          placeholder="Email"
        />
      </div>
      <!-- Nội dung liên hệ -->
      <div class="mb-4">
        <textarea
          name="noi_dung"
          rows="5"
          class="w-full p-2 rounded-xl border-2 border-black focus:border-blue-500 outline-none placeholder-gray-400 text-left text-lg"
          placeholder="Nội dung"
        ></textarea>
      </div>

      <!-- Nút -->
      <div class="flex justify-end mt-4">
        <button
          type="button" 
          class="w-[30%] px-4 py-4 text-lg rounded-full bg-black text-white border border-black font-semibold contact-button"
        >
          GỬI LIÊN HỆ
        </button>
      </div>
    </form>
  </div>
  <div class="contact-colright w-[50%] h-[660px]">
   <div class="w-full h-[500px] rounded-xl overflow-hidden">
  <iframe
    class="w-full h-full"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.542469420491!2d106.62525351411647!3d10.846792192268313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752929a448e109%3A0xb7dc2e39ad2bfeff!2zVHJ1bmcgQ2FvIMSRw6FuZyBGUFQgUG9seXRlY2huaWMgSOG7kyBDaMOtIE1pbmggLSBUaMOhbmggcGjhu5EgVGjhuqFvIEPGoSBN4bqhaQ!5e0!3m2!1svi!2s!4v1718108802847!5m2!1svi!2s"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>


  </div>
</div>
