<div class="breadcrumb flex justify-center py-[12px] px-4 sm:px-0 mt-[60px]">
  <div class="container">
    <a href=""><span class="text-base font-semibold">Trang chủ</span></a>
    <i
      class="fa-solid fa-angle-right text-base px-2 text-gray-500 text-center"
    ></i>
    <a class="cursor-pointer"
      ><span class="text-base font-semibold">Liên hệ</span></a
    >
  </div>
</div>

<div class="flex justify-center my-5 px-4 sm:px-0">
  <div
    class="container gap-7 flex flex-col md:flex-row md:justify-center md:items-center"
  >
    <div class="w-full md:w-1/2 h-auto">
      <h1 class="text-2xl md:text-3xl font-bold mt-4 mb-4 text-center lg:text-left">
        Liên hệ với chúng tôi
      </h1>
      <div>
        <!-- Địa chỉ -->
        <div class="flex items-center mb-2">
          <div class="w-10 h-auto px-3 py-2 rounded-md mr-4 text-center icon">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <p class="text-base sm:text-sm">
            Tân Chánh Hiệp, Quận 12, Thành phố Hồ Chí Minh
          </p>
        </div>

        <!-- Số điện thoại -->
        <div class="flex items-center mb-2">
          <div class="w-10 h-auto px-3 py-2 rounded-md mr-4 text-center icon">
            <i class="fa-solid fa-phone"></i>
          </div>
          <p class="text-base sm:text-sm">087-8839-889</p>
        </div>

        <!-- Email -->
        <div class="flex items-center mb-6">
          <div class="w-10 h-auto px-3 py-2 rounded-md mr-4 text-center icon">
            <i class="fa-solid fa-envelope"></i>
          </div>
          <p class="text-base sm:text-sm">tvmkinhdoanhgiay&#64;gmail.com</p>
        </div>

        <form name="frmdk" class="rounded-md">
          <!-- Tên đăng ký -->
          <div class="mb-1">
            <input
              type="text"
              [(ngModel)]="fullName"
              name="fullName"
              class="w-full p-2 py-3 mb-2 rounded-md shadow-md border-1 border-black focus:border-blue-500 outline-none placeholder-gray-400 text-left text-sm"
              placeholder="Tên đăng ký"
            />
          </div>

          <!-- Email -->
          <div class="mb-1">
            <input
              type="email"
              [(ngModel)]="email"
              name="email"
              class="email-input w-full p-2 py-3 mb-2 rounded-md shadow-md border-1 border-black focus:border-blue-500 outline-none placeholder-gray-400 text-left text-sm"
              placeholder="Email"
            />
          </div>
          <!-- Nội dung liên hệ -->
          <div class="mb-4">
            <textarea
              [(ngModel)]="content"
              name="content"
              rows="5"
              class="w-full p-2 py-3 mb-2 rounded-md shadow-md border-1 border-black focus:border-blue-500 outline-none placeholder-gray-400 text-left text-sm"
              placeholder="Nội dung"
            ></textarea>
          </div>

          <!-- Nút -->
          <div class="flex justify-end mt-4">
            <button
              type="button"
              (click)="onClick()"
              class="contact-button w-full px-3 py-3 text-lg rounded-full bg-black text-white shadow-lg lg:w-[40%] cursor-pointer"
            >
              GỬI LIÊN HỆ
            </button>
          </div>
          <div
            *ngIf="loading"
            class="flex items-center justify-center min-h-[100px]"
          >
            <div
              class="animate-spin rounded-full h-8 w-8 border-t-4 border-b-4 border-blue-500"
            ></div>
            <span class="ml-4 text-blue-600 font-medium"
              >Đang gửi dữ liệu, vui lòng chờ...</span
            >
          </div>
        </form>
      </div>
    </div>
    <div class="w-full md:w-1/2 h-[600px] rounded-md overflow-hidden">
      <iframe
        class="w-full h-full"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.542469420491!2d106.62525351411647!3d10.846792192268313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752929a448e109%3A0xb7dc2e39ad2bfeff!2zVHJ1bmcgQ2FvIMSRw6FuZyBGUFQgUG9seXRlY2huaWMgSOG7kyBDaMOtIE1pbmggLSBUaMOhbmggcGjhu5EgVGjhuqFvIEPGoSBN4bqhaQ!5e0!3m2!1svi!2s!4v1718108802847!5m2!1svi!2s"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
