<div class="max-w-[1020px] h-auto flex justify-center items-center mx-auto my-8 sm:px-0">
  <div class="container">
    <div class="about-us-container w-2/3 max-w-2xl mx-auto">
      <h1 class="text-4xl font-black uppercase pt-9 text-center">
        Chào mừng đến với TVM - Thế Giới Giày Thể Thao Chính Hãng
      </h1>

      <div class="about-us-logo flex items-center justify-center">
        <img src="images/logo-black-white.png" alt="" class="w-15 h-auto" />
      </div>

      <p class="text-justify py-4">
        Tại TVM Shop, chúng tôi không chỉ đơn thuần là một cửa hàng giày thể
        thao - mà là điểm đến dành cho những người yêu thời trang, đam mê vận
        động và luôn muốn khẳng định phong cách cá nhân.
      </p>

      <h3 class="text-xl font-bold">Chúng tôi là ai?</h3>
      <p class="text-justify py-4">
        Ra đời với sứ mệnh mang đến trải nghiệm mua sắm giày thể thao đáng tin
        cậy tại Việt Nam, TVM không ngừng mở rộng sản phẩm, dịch vụ và nâng cao
        chất lượng phục vụ. Mỗi đôi giày tại TVM đều được chọn lọc kỹ lưỡng, đảm
        bảo 100% chính hãng, đi kèm chính sách bảo hành và hậu mãi minh bạch.
      </p>

      <h3 class="text-xl font-bold">Sứ mệnh của chúng tôi!</h3>
      <p class="text-justify py-4">
        Chúng tôi thành lập TVM với mong muốn mang đến cho cộng đồng yêu giày
        tại Việt Nam những sản phẩm chính hãng, chất lượng cao, từ thương hiệu
        nổi tiếng hàng đầu thế giới là Nike và Jordan.
      </p>

      <h3 class="text-xl font-bold">
        Khám phá thế giới giày thể thao cùng TVM!
      </h3>
      <p class="text-justify py-4">
        Tại TVM, mỗi bước chân là một tuyên ngôn về cá tính. Cho dù bạn tìm kiếm
        sự linh hoạt khi tập luyện, hay muốn tạo dấu ấn thời trang riêng biệt -
        TVM luôn có một lựa chọn dành cho bạn.
      </p>
    </div>
  </div>
</div>
