<h2 class="text-xl font-semibold">Đơn Mua</h2>

<div
  class="w-[340px] sm:w-[650px] md:w-full max-w-full overflow-x-auto scrollbar-hide scroll-smooth"
>
  <div class="flex gap-2 lg:justify-between px-2 py-2">
    <button
      class="px-3 py-1.5 text-sm rounded-full bg-black text-white whitespace-nowrap"
    >
      Tất cả
    </button>
    <button
      class="px-3 py-1.5 text-sm rounded-full bg-gray-200 whitespace-nowrap"
    >
      Chờ thanh toán
    </button>
    <button
      class="px-3 py-1.5 text-sm rounded-full bg-gray-200 whitespace-nowrap"
    >
      Vận chuyển
    </button>
    <button
      class="px-3 py-1.5 text-sm rounded-full bg-gray-200 whitespace-nowrap"
    >
      Chờ giao hàng
    </button>
    <button
      class="px-3 py-1.5 text-sm rounded-full bg-gray-200 whitespace-nowrap"
    >
      Hoàn thành
    </button>
    <button
      class="px-3 py-1.5 text-sm rounded-full bg-gray-200 whitespace-nowrap"
    >
      Đã huỷ
    </button>
    <button
      class="px-3 py-1.5 text-sm rounded-full bg-gray-200 whitespace-nowrap"
    >
      Trả hàng/Hoàn tiền
    </button>
  </div>
</div>
<div *ngFor="let order of orders" class="rounded-md border p-4 mb-4 bg-white">
  <div *ngFor="let detail of order.order_details" class="flex items-start gap-3">
    <img
      [src]="detail.product_variant.product.image"
      class="w-20 h-20 object-cover rounded"
    />

    <div class="flex-1">
      <div class="font-medium text-gray-800 text-sm leading-snug">
       {{detail.product_variant.product.name}}
      </div>
      <div class="text-xs text-gray-500 mt-1"> {{
          detail.product_variant.product_variant_sizes
        }}</div>
      <div class="text-xs text-gray-500">x{{ detail.quantity }}</div>
    </div>

    <div class="flex items-center justify-end text-sm shrink-0 gap-2">
      <div class="line-through text-gray-400 text-xs">{{detail.product_variant.product.price | currency : "VND" }}</div>
      <span class="text-red-600 font-semibold">{{detail.product_variant.product.price_sale | currency : "VND" }}</span>
    </div>
  </div>
  <div class="flex justify-between items-center my-4 text-sm">
    <div class="text-red-600 font-semibold text-md uppercase">
      {{ order.status }}
    </div>
    <div class="text-red-600 font-semibold text-md">
      Thành tiền: {{ order.total_price | currency : "VND" }}
    </div>
  </div>
  <div class="flex justify-end">
  <button
    class="w-30 p-2 text-sm rounded-full bg-black text-white shadow-lg font-semibold transition duration-300 cursor-pointer hover:bg-[#707072]"
  >
    Hủy đơn hàng
  </button>
</div>

</div>
