<table class="w-full py-5 border text-center">
    <thead>    
        <tr class="m-2 bg-neutral-500">
            <th class="border">ID</th>
            <th class="border">Tên sản phẩm</th>
            <th class="border w-[100px]">Ngày</th>
            <th class="border w-[150px]">Loại</th>
            <th class="border w-[150px]">Giá</th>
            <th class="border w-[150px]">Hình</th>
            <th class="border w-[100px]">Ẩn hiện</th>
            <th class="border w-[100px]">Hành động</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pd of product_arr ">
            <td class="border">{{pd.id}}</td>
            <td class="border">{{pd.name}}</td>            
            <td class="border">{{pd.category?.name}}</td>
            <td class="border">{{pd.price_sale |  number:'1.0-0':'vi'}} VNĐ</td>
            <td class="border flex justify-center">
                <img *ngIf="pd.image"  class="h-20" alt="">
            </td>
            <td class="border">{{pd.status ? 'Hiện' : 'Ẩn'}}</td>
            
        </tr>
    </tbody>
</table>
