<div class="footer">
  <div class="container">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="col c1">
        <div class="logo-footer">
          <a href="" class="">
            <img src="images/logo-black-white.png" alt="" class="" />
          </a>
          <p>
            TVM Shoes là một cửa hàng giày thời trang mang giá trị cốt lõi
            <span>Trend - Vibe - Move </span>. Xuất phát từ mong muốn mang đến
            những sản phẩm giày chất lượng, hợp xu hướng với mức giá phù hợp cho
            giới trẻ,
          </p>
        </div>
      </div>

      <div class="col c2">
        <h3 class="text-lg font-semibold mb-4">Hỗ trợ khách hàng</h3>
        <ul class="space-y-2">
          <li>
            <a href="">Chính sách đổi trả</a>
          </li>
          <li>
            <a href="">Thanh toán giao nhận</a>
          </li>
          <li>
            <a href="">Chính sách bảo mật</a>
          </li>
          <li>
            <a href="">Câu hỏi thường gặp</a>
          </li>
          <li>
            <a href="">Hướng dẫn mua hàng</a>
          </li>
          <li>
            <a href="">Khách hàng thân thiết</a>
          </li>
        </ul>
      </div>

      <div class="col c3">
        <h3 class="text-lg font-semibold mb-4">Liên kết</h3>
        <ul class="space-y-2">
          <li>
            <a href="" class="hover:text-white transition-colors">Giới thiệu</a>
          </li>
          <li>
            <a href="" class="hover:text-white transition-colors"
              >Tin tức TVM</a
            >
          </li>
          <li>
            <a href="" class="hover:text-white transition-colors">Liên hệ</a>
          </li>
          <li>
            <a href="" class="hover:text-white transition-colors"
              >Thông tin thời trang</a
            >
          </li>
          <li>
            <a href="" class="hover:text-white transition-colors">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col c4">
        <h3 class="text-lg font-semibold mb-4">Phương thức thanh toán</h3>
        <div class="grid grid-cols-3 gap-4 mb-4 w-full">
          <img
            class="h-auto p-2 shadow object-contain"
            src="images/visa.png"
            alt="Visa"
          />
          <img
            class="h-auto p-2 shadow object-contain"
            src="images/mastercard.png"
            alt="Mastercard"
          />
          <img
            class="h-auto p-2 shadow object-contain"
            src="images/jcb.png"
            alt="JCB"
          />
          <img
            class="h-auto p-2 shadow object-contain"
            src="images/cod.png"
            alt="COD"
          />
          <img
            class="h-auto p-2 shadow object-contain"
            src="images/amex.png"
            alt="Amex"
          />
          <img
            class="w-[70px] h-10 shadow object-contain"
            src="images/qr-code.png"
            alt="QR"
          />
        </div>
      </div>
    </div>
    <hr class="border-gray-600 my-8" />
    <p class="copyright text-center text-sm">
      TVM Shop © 2024 - All Right Reserved
    </p>
  </div>
</div>