<h2 class="text-xl font-bold mb-4">Chỉnh sửa bài viết</h2>

<form (ngSubmit)="updateBlog()">
  <label>Tiêu đề:</label>
  <input
    [(ngModel)]="blogData.title"
    name="title"
    class="border p-2 w-full mb-2"
  />

  <label>Slug:</label>
  <input
    [(ngModel)]="blogData.slug"
    name="slug"
    class="border p-2 w-full mb-2"
  />

  <label>Hình ảnh:</label>
  <input
    [(ngModel)]="blogData.thumbnail"
    name="thumbnail"
    class="border p-2 w-full mb-2"
  />

  <label>Danh mục ID:</label>
  <input
    [(ngModel)]="blogData.category_id"
    name="category_id"
    type="number"
    class="border p-2 w-full mb-2"
  />

  <label>Nội dung:</label>
  <textarea
    [(ngModel)]="blogData.content"
    name="content"
    class="border p-2 w-full mb-4 h-[20em]"
  ></textarea>

  <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">
    Cập nhật
  </button>
</form>
