<h2  class="text-2xl font-bold mb-6 text-gray-800">Đổi Mật Khẩu</h2>
<p class="text-sm text-gray-500 mb-4">
  Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác
</p>

<form class="space-y-4">
  <div>
    <label class="block text-sm font-medium mb-1">Mật Khẩu Hiện Tại</label>
    <input type="password" class="w-full border px-3 py-2 rounded-lg" />
  </div>
  <div>
    <label class="block text-sm font-medium mb-1">Mật Khẩu Mới</label>
    <input type="password" class="w-full border px-3 py-2 rounded-lg" />
  </div>
  <div>
    <label class="block text-sm font-medium mb-1">Xác Nhận Mật Khẩu</label>
    <input type="password" class="w-full border px-3 py-2 rounded-lg" />
  </div>
  <button
    type="submit"
    class="w-[150px] p-2 text-sm md:text-lg rounded-full bg-black text-white shadow-lg font-semibold transition duration-300 cursor-pointer hover:bg-[#707072]"
  >
    Xác Nhận
  </button>
</form>
