<div
  class="breadcrumb flex justify-center py-3 mb-6 px-4 sm:px-0 overflow-x-auto whitespace-nowrap text-sm sm:text-base mt-[60px]"
>
  <div class="container flex items-center gap-2">
    <a href="" class="font-semibold">Trang chủ</a>
    <i class="fa-solid fa-angle-right text-gray-500"></i>
    <a class="cursor-pointer font-semibold">Sản phẩm</a>
    <i class="fa-solid fa-angle-right text-gray-500"></i>
    <a class="cursor-pointer font-semibold">{{ product.name }}</a>
  </div>
</div>

<div class="flex justify-center px-4 sm:px-0">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-12 mt-10 gap-6">
      <div class="col-span-1 order-2 lg:order-0">
        <div class="flex lg:flex-col gap-2 overflow-x-auto lg:overflow-visible">
          <img
            *ngFor="let img of imgList"
            [src]="img"
            (click)="onClick(img)"
            class="w-[70px] h-[70px] object-cover cursor-pointer hover:ring-1 hover:ring-gray-500 rounded"
            [class.ring-2]="img === mainImage"
            [class.ring-blue-500]="img === mainImage"
            alt="ảnh chi tiết"
          />
        </div>
      </div>

      <div class="col-span-1 md:col-span-1 lg:col-span-5 order-1 lg:order-1">
        <img
          [src]="mainImage"
          alt="Ảnh chính"
          class="w-full h-auto object-cover rounded"
        />
      </div>

      <div class="col-span-1 md:col-span-2 lg:col-span-6 order-3">
        <div class="ml-0 lg:ml-4">
          <div class="overflow-y-auto max-h-[700px] pr-2 scrollbar-hide">
            <h3 class="text-2xl font-bold">{{ product.name }}</h3>
            <p class="font-semibold text-gray-600">
              {{ product.category?.name }}
            </p>
            <div class="flex flex-wrap items-center text-2xl my-5 gap-6">
              <ng-container
                *ngIf="
                  product.price_sale && product.price_sale < product.price;
                  else noSale
                "
              >
                <h4 class="font-bold text-black-600">
                  {{ product.price_sale | number : "1.0-0" }}đ
                </h4>

                <del class="font-semibold text-lg text-gray-500">
                  {{ product.price | number : "1.0-0" }}đ
                </del>

                <span class="font-semibold text-green-500 text-lg">
                  Giảm
                  {{
                    ((product.price - product.price_sale) / product.price) * 100
                      | number : "1.0-0"
                  }}%
                </span>
              </ng-container>

              <ng-template #noSale>
                <h4 class="font-bold">
                  {{ product.price_sale | number : "1.0-0" }}đ
                </h4>
              </ng-template>
            </div>

            <p class="text-lg font-semibold">Màu sắc</p>
            <div class="flex mb-5 my-1 gap-2">
              <button
                *ngFor="let product_v of product_variant_arr"
                (click)="onSelectVariant(product_v)"
                class="relative ml-1"
              >
                <img
                  [src]="product_v.image_url"
                  alt="{{ product_v.style_code }}"
                  class="w-[50px] h-[50px] sm:w-[70px] sm:h-[70px] object-cover rounded cursor-pointer border"
                  [ngClass]="{
                    'border-blue-300 ring-1 ring-blue-400':
                      selectedVariant?.id === product_v.id,
                    'border-gray-300 hover:ring-1 hover:ring-gray-200':
                      selectedVariant?.id !== product_v.id
                  }"
                />
              </button>
            </div>

            <div class="my-2">
              <div class="flex justify-between my-2 text-sm">
                <p class="text-lg font-semibold">Kích thước</p>
                <div
                  class="flex items-center gap-2 hover:text-gray-600 transition"
                >
                  <i class="fa-solid fa-ruler-horizontal text-lg"></i>
                  <p
                    class="text-lg cursor-pointer"
                    (click)="showSizeChart = true"
                  >
                    Bảng kích thước
                  </p>
                  <!-- Popup overlay -->
                  <div
                    *ngIf="showSizeChart"
                    class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center z-[9999]"
                    (click)="showSizeChart = false"
                  >
                    <div
                      class="relative bg-white rounded-lg shadow-2xl ring-1 ring-white ring-opacity-20 w-full max-w-3xl mx-4 sm:mx-0"
                      (click)="$event.stopPropagation()"
                    >
                      <img
                        src="/images/img-size.png"
                        alt=""
                        class="w-full h-auto"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid grid-cols-3 sm:grid-cols-5 gap-2">
                <div
                  *ngFor="let variantSize of size_arr"
                  class="relative group"
                >
                  <button
                    class="btn-size w-full"
                    [ngClass]="{
                      'bg-black text-white':
                        selectedSize?.id === variantSize.size.id,
                      'opacity-50 line-through bg-gray-300':
                        variantSize.stock === 0
                    }"
                    (click)="onSelectSize(variantSize)"
                  >
                    {{ variantSize.size.size }}
                  </button>

                  <!-- Tooltip "Hết hàng" -->
                  <div
                    *ngIf="variantSize.stock === 0"
                    class="absolute left-1/2 -translate-x-1/2 -top-7 bg-gray-800 text-white text-xs px-2 py-1 rounded hidden group-hover:block z-10 whitespace-nowrap"
                  >
                    Hết hàng
                  </div>
                </div>
              </div>

              <div class="button my-4 flex gap-2">
                <button
                  type="button"
                  (click)="addToCart()"
                  class="w-full py-3 rounded-full shadow text-white bg-black hover:bg-[#707072] cursor-pointer font-semibold transition-[0.2]"
                >
                  Thêm vào giỏ hàng
                </button>
                <button
                  type="button"
                  (click)="addToWishlist()"
                  class="w-full py-3 rounded-full shadow text-black bg-white hover:bg-[#f3f3f3] cursor-pointer font-semibold transition-[0.2]"
                >
                  Yêu thích
                </button>
              </div>
            </div>

            <div>
              <h3 class="text-xl font-bold my-2">Thông tin sản phẩm</h3>
              <p class="text-base">{{ product.description }}</p>

              <div
                class="infor-detail mt-2"
                *ngIf="selectedVariant && selectedVariant.color"
              >
                <h3 class="text-xl font-bold my-2">Thông tin chi tiết</h3>
                <ul class="list-info-detail list-disc list-inside text-base">
                  <li>
                    <span class="font-semibold">Màu sắc:</span>
                    {{ selectedVariant.color.color_name }}
                  </li>

                  <li>
                    <span class="font-semibold">Mã sản phẩm:</span>
                    {{ selectedVariant.style_code }}
                  </li>
                  <li>
                    <span class="font-semibold">Xuất xứ:</span>
                    {{ product.origin_country }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="">
      <h3 class="text-xl font-bold mt-8">Đánh giá sản phẩm</h3>
      <div class="space-y-6 mt-4">
        <div class="review-detail">
          <div class="name flex gap-4 text-sm text-gray-600">
            <div
              class="w-10 h-10 md:w-20 md:h-20 lg:w-10 lg:h-10 rounded-full overflow-hidden flex-shrink-0"
            >
              <img
                class="w-full h-full object-cover"
                src="images/spider-1.jpg"
                alt=""
              />
            </div>
            <div class="justify-center items-center">
              <span class="font-bold text-base text-black">MinhLe </span>
              -
              <span> 14/6/2025</span>
              <div class="flex gap-1 text-yellow-400 mb-3">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star text-gray-400"></i>
              </div>
              <div class="relative">
                <div
                  class="dsc line-clamp-2 transition-all duration-300 ease-in-out"
                  [class.line-clamp-none]="showFullText"
                >
                  Tôi nghĩ đây là một lựa chọn tuyệt vời... Lorem ipsum, dolor
                  sit amet consectetur adipisicing elit. Magni nulla cum
                  obcaecati vero distinctio odio quos ad recusandae hic
                  assumenda! Quidem, sed. Distinctio, voluptate! Obcaecati
                  cupiditate eaque recusandae neque aspernatur!
                  <div class="flex gap-2 my-4 sm:grid-cols-5">
                    <img class="w-20 h-20" src="images/img-color1.png" alt="" />
                    <img class="w-20 h-20" src="images/img-color1.png" alt="" />
                    <img class="w-20 h-20" src="images/img-color1.png" alt="" />
                    <img class="w-20 h-20" src="images/img-color1.png" alt="" />
                    <img class="w-20 h-20" src="images/img-color1.png" alt="" />
                    <img class="w-20 h-20" src="images/img-color1.png" alt="" />
                  </div>
                </div>
                <button class="text-blue-500 mt-2" (click)="toggleShowText()">
                  {{ showFullText ? "Ẩn bớt" : "Xem thêm" }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="review-detail">
          <div class="name flex gap-4 text-sm text-gray-600">
            <div
              class="w-10 h-10 md:w-20 md:h-20 lg:w-10 lg:h-10 rounded-full overflow-hidden flex-shrink-0"
            >
              <img
                class="w-10 h-10 rounded-full mr-4 object-cover"
                src="images/spider-2.webp"
                alt=""
              />
            </div>
            <div class="justify-center items-center">
              <span class="font-bold text-base text-black">TuanNguyen </span>
              -
              <span> 14/6/2025</span>
              <div class="flex gap-1 text-yellow-400 mb-3">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="relative">
                <div
                  class="dsc line-clamp-2 transition-all duration-300 ease-in-out"
                  [class.line-clamp-none]="showFullText"
                >
                  Tôi nghĩ đây là một lựa chọn tuyệt vời... Lorem ipsum, dolor
                  sit amet consectetur adipisicing elit. Magni nulla cum
                  obcaecati vero distinctio odio quos ad recusandae hic
                  assumenda! Quidem, sed. Distinctio, voluptate! Obcaecati
                  cupiditate eaque recusandae neque aspernatur!
                  <div class="flex gap-2 my-4 sm:grid-cols-5">
                    <img class="w-20 h-20" src="images/img-color1.png" alt="" />
                    <img class="w-20 h-20" src="images/img-color1.png" alt="" />
                    <img class="w-20 h-20" src="images/img-color1.png" alt="" />
                  </div>
                </div>
                <button class="text-blue-500 mt-2" (click)="toggleShowText()">
                  {{ showFullText ? "Ẩn bớt" : "Xem thêm" }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Gợi ý sản phẩm -->
      <div class="product-related my-10">
        <h3 class="text-xl font-bold mb-4">Có thể bạn sẽ thích</h3>
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
          <div class="product" *ngFor="let product of product_arr">
            <div
              class="w-full aspect-square mb-4 overflow-hidden relative group"
            >
              <a href="/product-detail/{{ product.slug }}">
                <img
                  class="product-image w-full h-full object-cover"
                  src="{{ product.image }}"
                  alt="{{ product.name }}"
                />
              </a>
            </div>

            <!-- Product info -->
            <div class="product-name font-bold text-base mb-2">
              {{ product.name }}
            </div>
            <div class="category-name text-sm text-gray-500 mb-2">
              <span>{{ product.category?.name }}</span>
            </div>
            <div class="product_price text-red-500 font-bold text-lg">
              {{ product.price_sale | number : "1.0-0" }}đ
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
