<div class="signup-body w-full h-[700px]">
  <div class="signup-card w-[80%] h-[660px]">
    <div
      class="signup-colleft w-[50%] h-[660px] rounded-l-[50px] text-center content-center"
    >
      <form name="frmdk" class="p-6 rounded-lg max-w-md mx-auto">
        <h1 class="text-3xl font-bold text-center mb-6">Đăng ký</h1>

        <!-- Tên đăng ký -->
        <div class="mb-1">
          <input
            type="text"
            name="name"
            class="w-full p-4 rounded-xl border-2 border-black focus:border-blue-500 outline-none placeholder-gray-400 text-center text-lg"
            placeholder="Tên đăng ký"
            [(ngModel)]="user.name"
          />
        </div>

        <!-- Email -->
        <div class="mb-1">
          <input
            type="email"
            name="email"
            class="email-input w-full p-4 rounded-xl border-2 border-black focus:border-blue-500 outline-none placeholder-gray-400 text-center text-lg"
            placeholder="Email"
            [(ngModel)]="user.email"
          />
          <p class="error-email text-red-500 text-sm mt-1 hidden">
            Email không hợp lệ
          </p>
        </div>

        <!-- Mật khẩu -->
        <div class="mb-1">
          <input
            type="password"
            name="mat_khau"
            class="password-input w-full p-4 rounded-xl border-2 border-black focus:border-blue-500 outline-none placeholder-gray-400 text-center text-lg"
            placeholder="Mật khẩu"
            [(ngModel)]="user.password"
          />
          <p class="error-password text-red-500 text-sm mt-1 hidden">
            Mật khẩu phải có ít nhất 8 ký tự, 1 chữ hoa và 1 số
          </p>
        </div>

        <!-- Xác nhận mật khẩu -->
        <div class="mb-4">
          <input
            type="password"
            name="go_lai_mat_khau"
            class="confirm-input w-full p-4 rounded-xl border-2 border-black focus:border-blue-500 outline-none placeholder-gray-400 text-center text-lg"
            placeholder="Xác nhận mật khẩu"
            [(ngModel)]="user.re_password"
          />
          <p
            class="error-confirm text-red-500 text-sm mt-1 hidden"
            id="matchError"
          >
            Mật khẩu không khớp
          </p>
        </div>
        <b class="m-4 text-red-500 text-center text-sm block">{{
          thong_bao
        }}</b>
        <!-- Nút đăng ký -->
        <div class="flex justify-center mt-4">
          <button
            type="button"
            (click)="dangky()"
            class="w-[50%] px-10 py-4 text-lg rounded-full bg-white text-black border-1 border-black font-semibold"
          >
            ĐĂNG KÝ
          </button>
        </div>
        <!-- Đã có tài khoản -->
        <a href="/log-in" class="m-4 text-blue-500 text-center text-sm block">
          BẠN ĐÃ CÓ TÀI KHOẢN?
        </a>
      </form>
    </div>
    <img
      src="/images/colsignup.jpg"
      alt=""
      class="signup-colright w-[50%] h-[660px] rounded-r-[50px] object-cover"
    />
  </div>
</div>
