<div
  class="signup-body w-full min-h-screen flex items-center justify-center px-4 py-6"
>
  <div
    class="signup-card w-full max-w-5xl flex flex-col md:flex-row shadow-lg rounded-[20px] md:rounded-[50px] overflow-hidden md:gap-0"
  >
    <div
      class="signup-colleft w-full md:w-1/2 flex items-center justify-center  md:p-8"
    >
      <form name="frmdk" class="w-full max-w-md p-6">
        <h1 class="text-3xl font-bold text-center mb-6">Đăng ký</h1>

        <!-- Tên đăng ký -->
        <div class="mb-2">
          <input
            type="text"
            name="name"
            class="w-full mb-2 p-4 rounded-xl border-1 shadow-md border-black focus:border-blue-500 outline-none placeholder-gray-400 text-center text-lg"
            placeholder="Tên đăng ký"
            [(ngModel)]="user.name"
          />
        </div>

        <!-- Email -->
        <div class="mb-2">
          <input
            type="email"
            name="email"
            class="email-input mb-2 w-full p-4 rounded-xl border-1 shadow-md border-black focus:border-blue-500 outline-none placeholder-gray-400 text-center text-lg"
            placeholder="Email"
            [(ngModel)]="user.email"
          />
          <p class="error-email text-red-500 text-sm mt-1 hidden">
            Email không hợp lệ
          </p>
        </div>

        <!-- Mật khẩu -->
        <div class="mb-2">
          <input
            type="password"
            name="mat_khau"
            class="password-input mb-2 w-full p-4 rounded-xl border-1 shadow-md border-black focus:border-blue-500 outline-none placeholder-gray-400 text-center text-lg"
            placeholder="Mật khẩu"
            [(ngModel)]="user.password"
          />
          <p class="error-password text-red-500 text-sm mt-1 hidden">
            Mật khẩu phải có ít nhất 8 ký tự, 1 chữ hoa và 1 số
          </p>
        </div>

        <!-- Xác nhận mật khẩu -->
        <div class="mb-4">
          <input
            type="password"
            name="re_password"
            class="confirm-input mb-2 w-full p-4 rounded-xl border-1 shadow-md border-black focus:border-blue-500 outline-none placeholder-gray-400 text-center text-lg"
            placeholder="Xác nhận mật khẩu"
            [(ngModel)]="user.re_password"
          />
          <p
            class="error-confirm text-red-500 text-sm mt-1 hidden"
            id="matchError"
          >
            Mật khẩu không khớp
          </p>
        </div>

        <!-- Thông báo lỗi -->
        <b class="m-4 text-red-500 text-center text-sm block">{{
          thong_bao
        }}</b>

        <!-- Nút đăng ký -->
        <div class="flex justify-center mt-4">
          <button
            type="button"
            (click)="dangky()"
            class="signup-button w-[50%] px-6 py-4 text-lg rounded-full bg-white text-black shadow-lg font-semibold"
          >
            ĐĂNG KÝ
          </button>
        </div>

        <!-- Link đăng nhập -->
        <a href="/log-in" class="mt-4 text-blue-500 text-center text-sm block">
          Bạn đã có tài khoản? <span class=" hover:underline text-red-500 ">Đăng nhập</span>

        </a>
      </form>
    </div>

    <div class="w-full md:w-1/2 flex justify-center">
      <img
        src="/images/colsignup.jpg"
        alt=""
        class="w-full h-[600px] object-cover md:rounded-none md:rounded-r-[50px]"
      />
    </div>
  </div>
</div>
