<div class="space-y-6">
  <!-- Stats -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    <!-- Tổng doanh thu -->
    <div class="bg-white p-4 rounded-xl shadow hover:shadow-md transition">
      <p class="text-gray-500 text-sm">Tổng doanh thu</p>
      <p class="text-gray-400 text-xs">Trong tháng này</p>
      <p class="text-green-600 text-2xl font-semibold mt-2">
        {{ stats.totalRevenue | number }} đ
      </p>
    </div>

    <!-- Tổng đơn hàng -->
    <div class="bg-white p-4 rounded-xl shadow hover:shadow-md transition">
      <p class="text-gray-500 text-sm">Tổng đơn hàng</p>
      <p class="text-gray-400 text-xs">Trong tháng này</p>
      <p class="text-2xl font-semibold mt-2">
        {{ stats.totalOrders }}
      </p>
    </div>

    <!-- Đơn hàng mới -->
    <div class="bg-white p-4 rounded-xl shadow hover:shadow-md transition">
      <p class="text-gray-500 text-sm">Đơn hàng mới</p>
      <p class="text-gray-400 text-xs">Trong tháng này</p>
      <p class="text-2xl font-semibold mt-2">
        {{ stats.newOrders }}
      </p>
    </div>

    <!-- Khách hàng mới -->
    <div class="bg-white p-4 rounded-xl shadow hover:shadow-md transition">
      <p class="text-gray-500 text-sm">Khách hàng mới</p>
      <p class="text-gray-400 text-xs">Trong tháng này</p>
      <p class="text-2xl font-semibold mt-2">
        {{ stats.newCustomers }}
      </p>
    </div>
  </div>

  <!-- Reviews + New Products -->
  <div class="flex flex-wrap lg:flex-nowrap gap-4">
    <!-- <div
      class="bg-white p-4 rounded-xl shadow lg:w-1/2 overflow-y-auto h-[410px]"
    >
      <h3 class="text-lg font-semibold mb-4">Đánh Giá Mới ()</h3>

      <div
        class="flex gap-3 mb-4 pb-4 border-b border-gray-100 last:border-0 last:pb-0 last:mb-0"
      >
        <img [src]="" class="w-10 h-10 rounded-full object-cover" alt="user" />
        <div>
          <div class="flex justify-between">
            <div>
              <p class="font-medium">Tên khách hàng đánh giá</p>
              <p class="text-yellow-500 text-sm">⭐⭐⭐⭐⭐</p>
            </div>
            <div>
              <p class="font-medium">Ngày tháng giờ giấc đánh giá</p>
              <p class="text-sm">Phân loại sản phẩm đánh giá</p>
            </div>
          </div>
          <p class="text-gray-600 text-sm mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At, modi
            eos...
          </p>
        </div>
      </div>
      <div
        class="flex gap-3 mb-4 pb-4 border-b border-gray-100 last:border-0 last:pb-0 last:mb-0"
      >
        <img [src]="" class="w-10 h-10 rounded-full object-cover" alt="user" />
        <div>
          <div class="flex justify-between">
            <div>
              <p class="font-medium">Tên khách hàng đánh giá</p>
              <p class="text-yellow-500 text-sm">⭐⭐⭐⭐⭐</p>
            </div>
            <div>
              <p class="font-medium">Ngày tháng giờ giấc đánh giá</p>
              <p class="text-sm">Phân loại sản phẩm đánh giá</p>
            </div>
          </div>
          <p class="text-gray-600 text-sm mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At, modi
            eos...
          </p>
        </div>
      </div>
      <div
        class="flex gap-3 mb-4 pb-4 border-b border-gray-100 last:border-0 last:pb-0 last:mb-0"
      >
        <img [src]="" class="w-10 h-10 rounded-full object-cover" alt="user" />
        <div>
          <div class="flex justify-between">
            <div>
              <p class="font-medium">Tên khách hàng đánh giá</p>
              <p class="text-yellow-500 text-sm">⭐⭐⭐⭐⭐</p>
            </div>
            <div>
              <p class="font-medium">Ngày tháng giờ giấc đánh giá</p>
              <p class="text-sm">Phân loại sản phẩm đánh giá</p>
            </div>
          </div>
          <p class="text-gray-600 text-sm mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At, modi
            eos...
          </p>
        </div>
      </div>
      <div
        class="flex gap-3 mb-4 pb-4 border-b border-gray-100 last:border-0 last:pb-0 last:mb-0"
      >
        <img [src]="" class="w-10 h-10 rounded-full object-cover" alt="user" />
        <div>
          <div class="flex justify-between">
            <div>
              <p class="font-medium">Tên khách hàng đánh giá</p>
              <p class="text-yellow-500 text-sm">⭐⭐⭐⭐⭐</p>
            </div>
            <div>
              <p class="font-medium">Ngày tháng giờ giấc đánh giá</p>
              <p class="text-sm">Phân loại sản phẩm đánh giá</p>
            </div>
          </div>
          <p class="text-gray-600 text-sm mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At, modi
            eos...
          </p>
        </div>
      </div>
    </div> -->
    <div
      class="bg-white p-4 rounded-xl shadow lg:w-1/2 overflow-y-auto h-[410px]"
    >
      <h3 class="text-lg font-semibold mb-4">Đánh Giá Mới ()</h3>

      <div
        class="flex flex-col sm:flex-row gap-3 mb-4 pb-4 border-b border-gray-100 last:border-0 last:pb-0 last:mb-0"
      >
        <div class="flex items-center gap-3">
          <img
            src="images/spider-1.jpg"
            class="w-10 h-10 rounded-full object-cover"
            alt="user"
          />
          <div>
            <p class="font-medium">Hẹ hẹ</p>
            <p class="text-yellow-500 text-sm">⭐⭐⭐⭐⭐</p>
          </div>
        </div>

        <div class="flex-1">
          <div
            class="flex flex-col sm:flex-row justify-between text-sm text-gray-500"
          >
            <span>20/08/2025 14:30</span>
            <span
              >Mã SP:
              <span class="font-medium text-gray-700">AJ1-RED-42</span></span
            >
          </div>
          <p class="text-gray-600 text-sm mt-2">
            Giày mang êm, form chuẩn, giao hàng nhanh 👍
          </p>
        </div>
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 mb-4 pb-4 border-b border-gray-100 last:border-0 last:pb-0 last:mb-0"
      >
        <div class="flex items-center gap-3">
          <img
            src="images/spider-1.jpg"
            class="w-10 h-10 rounded-full object-cover"
            alt="user"
          />
          <div>
            <p class="font-medium">meomeo</p>
            <p class="text-yellow-500 text-sm">⭐⭐⭐⭐⭐</p>
          </div>
        </div>

        <div class="flex-1">
          <div
            class="flex flex-col sm:flex-row justify-between text-sm text-gray-500"
          >
            <span>20/08/2025 14:30</span>
            <span
              >Mã SP:
              <span class="font-medium text-gray-700">AJ1-RED-42</span></span
            >
          </div>
          <p class="text-gray-600 text-sm mt-2">
            Giày mang êm, form chuẩn, giao hàng nhanh 👍
          </p>
        </div>
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 mb-4 pb-4 border-b border-gray-100 last:border-0 last:pb-0 last:mb-0"
      >
        <div class="flex items-center gap-3">
          <img
            src="images/spider-1.jpg"
            class="w-10 h-10 rounded-full object-cover"
            alt="user"
          />
          <div>
            <p class="font-medium">hihi</p>
            <p class="text-yellow-500 text-sm">⭐⭐⭐⭐⭐</p>
          </div>
        </div>

        <div class="flex-1">
          <div
            class="flex flex-col sm:flex-row justify-between text-sm text-gray-500"
          >
            <span>20/08/2025 14:30</span>
            <span
              >Mã SP:
              <span class="font-medium text-gray-700">AJ1-RED-42</span></span
            >
          </div>
          <p class="text-gray-600 text-sm mt-2">
            Giày mang êm, form chuẩn, giao hàng nhanh 👍
          </p>
        </div>
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 mb-4 pb-4 border-b border-gray-100 last:border-0 last:pb-0 last:mb-0"
      >
        <div class="flex items-center gap-3">
          <img
            src="images/spider-1.jpg"
            class="w-10 h-10 rounded-full object-cover"
            alt="user"
          />
          <div>
            <p class="font-medium">Huhu</p>
            <p class="text-yellow-500 text-sm">⭐⭐⭐⭐⭐</p>
          </div>
        </div>

        <div class="flex-1">
          <div
            class="flex flex-col sm:flex-row justify-between text-sm text-gray-500"
          >
            <span>20/08/2025 14:30</span>
            <span
              >Mã SP:
              <span class="font-medium text-gray-700">AJ1-RED-42</span></span
            >
          </div>
          <p class="text-gray-600 text-sm mt-2">
            Giày mang êm, form chuẩn, giao hàng nhanh 👍
          </p>
        </div>
      </div>
    </div>

    <!-- Cột sản phẩm mới + sắp hết -->
    <div class="flex flex-col sm:flex-row gap-4 w-full lg:w-1/2">
      <!-- Sản phẩm mới -->
      <div class="bg-white p-4 rounded-xl shadow relative flex-1">
        <div class="flex justify-between pb-2">
          <h3 class="text-lg font-semibold mb-2">Sản Phẩm Mới</h3>
          <div
            class="bg-sky-500 w-8 h-8 rounded-full flex items-center justify-center"
          >
            <div
              class="text-md bg-zinc-100 flex justify-center items-center rounded-full w-6 h-6"
            >
              {{ newProducts.length }}
            </div>
          </div>
        </div>

        <div class="text-center">
          <img
            [src]="newProducts[indexes.new].image"
            class="w-full h-64 rounded object-cover"
            alt=""
          />
          <div class="my-3">
            <p class="font-semibold text-md">
              {{ newProducts[indexes.new].name }}
            </p>
            <p class="text-md font-semibold">
              {{ newProducts[indexes.new].price_sale | number : "1.0-0" }}đ
            </p>
          </div>
        </div>

        <!-- Nút điều hướng -->
        <button
          class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-200 rounded-full w-8 h-8 flex items-center justify-center"
          (click)="changeProduct('new', 'prev')"
        >
          ‹
        </button>

        <button
          class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-200 rounded-full w-8 h-8 flex items-center justify-center"
          (click)="changeProduct('new', 'next')"
        >
          ›
        </button>
      </div>

      <!-- Sản phẩm sắp hết -->
      <div class="bg-white p-4 rounded-xl shadow relative flex-1">
        <div class="flex justify-between pb-2">
          <h3 class="text-lg font-semibold mb-2">Sản Phẩm Sắp Hết</h3>
          <div
            class="bg-sky-500 w-8 h-8 rounded-full flex items-center justify-center"
          >
            <div
              class="text-md bg-zinc-100 flex justify-center items-center rounded-full w-6 h-6"
            >
              {{ lowStocks.length }}
            </div>
          </div>
        </div>

        <div class="text-center">
          <img
            [src]="lowStocks[indexes.low].image"
            class="w-full h-64 rounded object-cover"
            alt=""
          />
          <div class="my-3">
            <p class="font-semibold text-md">
              {{ lowStocks[indexes.low].name }}
            </p>
            <p class="text-md font-semibold">
              {{ lowStocks[indexes.low].price_sale | number : "1.0-0" }}đ
            </p>
          </div>
        </div>

        <!-- Nút điều hướng -->
        <button
          class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-200 rounded-full w-8 h-8 flex items-center justify-center"
          (click)="changeProduct('low', 'prev')"
        >
          ‹
        </button>

        <button
          class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-200 rounded-full w-8 h-8 flex items-center justify-center"
          (click)="changeProduct('low', 'next')"
        >
          ›
        </button>
      </div>
    </div>
  </div>

  <!-- Blogs -->
  <div class="bg-white p-4 rounded-xl shadow overflow-y-auto h-[410px]">
    <h3 class="text-lg font-semibold mb-4">
      Bài viết mới ({{ blogs.length }})
    </h3>
    <div class="space-y-6">
      <div
        *ngFor="let b of blogs"
        class="flex flex-col sm:flex-row bg-white rounded-xl p-4 shadow hover:shadow-md transition"
      >
        <div class="flex-1 min-w-0 mt-3 sm:mt-0 sm:mr-4">
          <div class="flex items-center gap-3 mb-2">
            <img
              [src]="b.author?.avatar"
              [alt]="b.author?.name"
              class="w-8 h-8 rounded-full object-cover"
            />
            <div class="flex flex-col">
              <p class="font-medium leading-none">{{ b.author?.name }}</p>
              <span class="text-xs text-gray-500">
                {{ b.created_at | date : "dd/MM/yyyy HH:mm" }}
              </span>
            </div>
          </div>
          <p class="font-bold mt-1 line-clamp-2">
            {{ b.title }}
          </p>
          <p class="text-sm text-gray-600 line-clamp-2 mt-1">
            {{ b.content }}
          </p>
          <a
            href="#"
            class="text-sm text-blue-600 hover:underline mt-2 inline-block"
          >
            Xem thêm
          </a>
        </div>
        <img
          [src]="b.thumbnail"
          alt="{{ b.title }}"
          class="w-full h-30 rounded-lg object-cover sm:w-32 sm:h-32 sm:order-2"
        />
      </div>
    </div>
  </div>
</div>
