<div class="breadcrumb flex justify-center py-[12px] px-4 sm:px-0">
  <div class="container">
    <a href=""><span class="text-base font-semibold">Trang chủ</span></a>
    <i class="fa-solid fa-angle-right text-base px-2 text-gray-500 text-center"></i>
    <a class="cursor-pointer"><span class="text-base font-semibold">Yêu thích</span></a>
  </div>
</div>
<div class="flex justify-center px-4 sm:px-0">
  <div class="container">
    <!-- Sản phẩm yêu thích -->
    <div class="product-wishlist">
      <div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
        <div class="product" *ngFor="let item of products_wishList">
          <div class="w-full aspect-square mb-4 overflow-hidden relative group">
            <button
              class="absolute top-2 right-2 bg-red-500 text-white rounded-full w-6 h-6 flex items-center justify-center hover:bg-red-600 z-10"
              (click)="removeFromWishlist(item)" title="Xoá khỏi yêu thích">
              x
            </button>
            <a href="/product-detail/{{ item.product_slug }}">
              <img class="product-image w-full h-full object-cover" src="{{ item.image_url }}"
                alt="{{ item.product_name }}" />
            </a>
          </div>

          <!-- Product info -->
          <div class="product-name font-bold text-base mb-2">
            {{ item.product_name }}
          </div>
          <div class="category-name text-sm text-gray-500 mb-2">
            <span>Mã màu: {{ item.style_code}}</span>
          </div>
          <div class="category-name text-sm text-gray-500 mb-2">
            <span>Size: {{item.selected_size}}</span>
          </div>
          <div class="product_price text-red-500 font-bold text-lg">
            {{ item.price_sale | number : "1.0-0" }}đ
          </div>
        </div>
      </div>

      <!-- Gợi ý sản phẩm -->
      <div class="product-related my-10">
        <h3 class="text-xl font-bold mb-4">Có thể bạn sẽ thích</h3>
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
          <div class="product" *ngFor="let product of product_arr">
            <div class="w-full aspect-square mb-4 overflow-hidden relative group">
              <a href="/product-detail/{{ product.slug }}">
                <img class="product-image w-full h-full object-cover" src="{{ product.image }}"
                  alt="{{ product.name }}" />
              </a>
            </div>

            <!-- Product info -->
            <div class="product-name font-bold text-base mb-2">
              {{ product.name }}
            </div>
            <div class="category-name text-sm text-gray-500 mb-2">
              <span>{{ product.category?.name }}</span>
            </div>
            <div class="product_price text-red-500 font-bold text-lg">
              {{ product.price_sale | number : "1.0-0" }}đ
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>