<header
  class="bg-white shadow-md px-6 h-16 flex items-center justify-between sticky top-0 z-40 rounded-bl-lg flex"
>
  <!-- Logo hoặc Tên Trang -->
  <div class="text-xl font-semibold text-gray-800">Admin Panel</div>

  <!-- Thanh công cụ bên phải -->
  <div class="flex items-center gap-4">
    <!-- Tên người dùng -->
    <div class="text-gray-700 text-sm hidden sm:block">Xin chào, Admin</div>

    <!-- Avatar -->
    <div class="w-9 h-9 rounded-full overflow-hidden border border-gray-300">
      <img
        src="https://i.pravatar.cc/300"
        alt="Avatar"
        class="object-cover w-full h-full"
      />
      <ul class="flex items-center space-x-4">
        <!-- Icon user -->
        <li class="relative">
          <!-- <a
            (click)="toggleDropdown()"
            class="hover:text-blue-600 cursor-pointer"
          >
            <i class="fa-solid fa-user"></i>
          </a> -->

          <!-- Dropdown -->
          <ul
            *ngIf=""
            class="absolute lef-0 mt-2 w-48 bg-white border rounded shadow-md z-50"
          >
            <!-- Nếu chưa đăng nhập -->

            <!-- Nếu đã đăng nhập -->
            <ng-template #loggedInBlock>
              <!-- <li>
                <span class="block px-4 py-2 text-gray-500">
                  Xin chào
                  <span class="text-blue-500 uppercase">{{ username }}</span>
                </span>
              </li> -->

              <!-- Mục dành riêng cho admin -->
              <li *ngIf="">
                <a
                  (click)="goToAdminDashboard()"
                  class="block px-4 py-2 hover:bg-gray-100 cursor-pointer"
                  >Quản trị viên</a
                >
              </li>

              <!-- Chung cho mọi user (cả admin lẫn thường) -->
              <li>
                <a
                  (click)="goToProfile()"
                  class="block px-4 py-2 hover:bg-gray-100 cursor-pointer"
                  >Thông tin cá nhân</a
                >
              </li>
            </ng-template>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
